/*Navbar*/

.fa-home:before{
    margin-right: 5px;
}

.fa-book:before{
    margin-right: 5px;
}

.fa-shopping-cart:before{
    margin-right: 5px;
}

.fa-user:before{
    margin-right: 5px;
}

.fa-key:before{
    margin-right: 5px;
}

.fa-flag:before{
    margin-right: 5px;
}

